# Copy this file to credentials.py and populate it with your settings
credentials = {
  'auth_url':'http://openstack-auth-url:5000',
  'username':'openstack-user',
  'user_domain_name': 'Default',
  'project_name' : 'openstack-project',
  'project_domain_name': 'Default',
  'password':'your-super-secret-password',
}
PUBLIC_KEY_NAME='openstack-name-of-your-public-key'
