apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: {{ app_name }}
  name: {{ app_name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ app_name }}
  template:
    metadata:
      annotations:
        alpha.image.policy.openshift.io/resolve-names: '*'
      labels:
        app: {{ app_name }}
        deploymentconfig: {{ app_name }}
    spec:
      automountServiceAccountToken: false
      containers:
      - env:
        - name: PUBLIC_KEY
          value: {{ public_key }}
        image: jbradley/ssh-git-server:latest
        name: jupyter-notebook
        ports:
        - containerPort: 2022
          protocol: TCP
        volumeMounts:
        - name: {{ output_data_pvc_name }}
          mountPath: {{ output_data_mount_path }}
        - name: {{ job_data_pvc_name }}
          mountPath: {{ job_data_mount_path }}
        - name: {{ system_data_pvc_name }}
          mountPath: {{ system_data_mount_path }}
        workingDir: /bespin
      securityContext:
        supplementalGroups:
        - 100
      volumes:
        - name: {{ output_data_pvc_name }}
          persistentVolumeClaim:
            claimName: {{ output_data_pvc_name }}
        - name: {{ job_data_pvc_name }}
          persistentVolumeClaim:
            claimName: {{ job_data_pvc_name }}
        - name: {{ system_data_pvc_name }}
          persistentVolumeClaim:
            claimName: {{ system_data_pvc_name }}
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ app_name }}
  name: {{ app_name }}
spec:
  ports:
  - name: 2022-tcp
    port: 2022
    protocol: TCP
    targetPort: 2022
  selector:
    app: {{ app_name }}
    deploymentconfig: {{ app_name }}
  type: NodePort

