work_queue:
  host: <AMPQ_HOST>
  username: <AMPQ_USER>
  password: <AMPQ_PASSWORD>
  worker_username: <WORKER_AMPQ_USERNAME>
  worker_password: <WORKER_AMPQ_PASSWORD>
  queue_name: <AMPQ_QUEUE_NAME>

vm_settings:
  worker_image_name: <WORKER_IMAGE_NAME>
  ssh_key_name: <SSH_KEY_NAME>
  network_name: <NETWORK_NAME>
  floating_ip_pool_name: <IP_POOL_NAME>
  default_favor_name: <VM_SIZE>

cloud_settings:
  auth_url: <OPENSTACK_URL> 
  username: <OPENSTACK_USER_NAME>
  user_domain_name: <OPENSTACK_DOMAIN_NAME>
  project_name: <OPENSTACK_PROJECT_NAME>
  project_domain_name: <OPENSTACK_PROJECT_DOMAIN_NAME>
  password: <OPENSTACK_PASSWORD>

