work_queue:
  host: <AMQP_HOST>
  username: <AMQP_USER>
  password: <AMQP_PASSWORD>
  worker_username: <WORKER_AMQP_USERNAME>
  worker_password: <WORKER_AMQP_PASSWORD>
  queue_name: <AMQP_QUEUE_NAME>

vm_settings:
  worker_image_name: <WORKER_IMAGE_NAME>
  ssh_key_name: <SSH_KEY_NAME>
  network_name: <NETWORK_NAME>
  floating_ip_pool_name: <IP_POOL_NAME>
  default_favor_name: <VM_SIZE>

cloud_settings:
  auth_url: <OPENSTACK_URL> 
  username: <OPENSTACK_USER_NAME>
  user_domain_name: <OPENSTACK_DOMAIN_NAME>
  project_name: <OPENSTACK_PROJECT_NAME>
  project_domain_name: <OPENSTACK_PROJECT_DOMAIN_NAME>
  password: <OPENSTACK_PASSWORD>

job_api:
  url: http://localhost:8000/api/
  username: jpb67
  password: john1234

